@page "/student"
@layout MainLayout
@inherits CaApp.Pages.StudentComponent

@using Radzen
@using Radzen.Blazor
@using CaApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using CaApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="ClassTeacher, SchoolAdmin, SubjectTeacher, SuperAdmin")]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Student">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-bottom: 10px; margin-left: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getStudentsCount" Data="@getStudentsResult" FilterMode="FilterMode.Advanced" TItem="CaApp.Models.ConData.Student" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" Property="SchoolAdmissionNumber" Title="Admission No.">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" Property="Surname" Title="Surname">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" Property="FirstName" Title="First Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" FilterProperty="Gender.GenderName" Property="GenderID" SortProperty="Gender.GenderName" Title="Gender">
              <Template Context="data">
              @(data.Gender?.GenderName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" Property="CurrentClassID" Title="Class" Type="integer">
              <Template Context="data">
              @(data.SchoolClass?.ClassName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="CaApp.Models.ConData.Student" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="caAppModelsConDataStudent">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, caAppModelsConDataStudent))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
